@charset "utf-8";
.header {
  height: 44px;
  position: relative;
}
.header .h_left,
.header .h_right {
  width: 40px;
  height: 44px;
  background-color: blue;
  position: absolute;
  top: 0;
}
.header .h_left {
  left: 0;
}
.header .h_right {
  right: 0;
}
